body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.background {
    background-image: url("images/m.png");
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.background::after {
    position: absolute;
    height: 100%;
    content: "";
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, red, yellow);
    opacity: 0.5;
}

.name {
    color: rgba(0, 0, 0, 0.75);
    text-transform: capitalize;
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5em;
    position: relative;
    font-weight: 300;
}

.main {
    background-color: #ffffff;
    border-radius: 5px;
    width: 550px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 220px; */
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.name::after {
    height: 2px;
    margin-left: auto;
    width: 60%;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
}

.xyz{
    font-size: 1.5em;
    color: #81287d;
    margin-right: 30px;
}
.xyz2{
    font-size: 1.5em;
    color: #1733b3;
}